node_modules
yarn-error.log

# hide build directories
dist
public/js

# STASH things here, should be 
#  deleted ultimately.
src/client/css/canvas-bubbles.css

# Hide environment variables
.env
deploy.sh
deploy-sc.sh
deploy-scapi.sh
