<!DOCTYPE html>
<html>
  <head>
    <title>Canvas Tutorial</title>
    <link rel="stylesheet" href="css/canvas-bubbles.css" />
  </head>

  <body>
    <h1>Canvas demo</h1>
    <a
      target="_blank"
      href="https://www.youtube.com/watch?v=5575fjFzPT0&t=1087s&ab_channel=Frankslaboratory"
      >Frank's lab demo</a
    >
    <canvas id="canvasbg"></canvas>
    <canvas id="canvasfg"></canvas>
    <script src="js/canvas-bubbles.js"></script>

    <footer>
      <span>Footer text here</span>
    </footer>
  </body>
</html>
