<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liquid Bubbles</title>
    <link rel="stylesheet" href="css/canvas-bubbles.css" />
  </head>
  <body>
    <main>
      <h1>Liquid Bubbles Demo</h1>
      <a
        target="_blank"
        href="https://www.youtube.com/watch?v=5575fjFzPT0&t=1087s&ab_channel=Frankslaboratory"
        >Frank's lab demo</a
      >
      <canvas id="canvasbg"></canvas>
      <canvas id="canvasfg"></canvas>

      <footer>
        <span>Footer text here</span>
      </footer>
      <svg>
        <defs>
          <filter id="goo">
            <feGaussianBlur
              in="SourceGraphic"
              stdDeviation="10"
              result="blur"
            />
            <feColorMatrix
              in="blur"
              mode="matrix"
              values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
              result="goo"
            />
            <feBlend in="SourceGraphic" in2="goo" />
          </filter>
        </defs>
      </svg>
    </main>
    <script src="js/canvas-bubbles.js"></script>
  </body>
</html>
